apiVersion: core.gardener.cloud/v1beta1
kind: CloudProfile
metadata:
  name: ${cloud_provider}
spec:
  kubernetes:
    versions:
    - version: ${kubernetes_version}
  machineImages:
  - name: ubuntu
    versions:
    - version: 1.0.0
  machineTypes:
  - cpu: "${flavor_worker_cpu}"
    gpu: "0"
    memory: ${flavor_worker_memory}
    name: ${flavor_worker}
    storage:
      class: default
      size: ${flavor_worker_disk}
      type: default
    usable: true
  providerConfig:
    apiVersion: openstack.provider.extensions.gardener.cloud/v1alpha1
    constraints:
      floatingPools:
      - name: ${external}
      loadBalancerProviders:
      - name: amphora
    keystoneURL: ${clouds.auth.auth_url}
    kind: CloudProfileConfig
    machineImages:
    - name: ubuntu
      versions:
      - image: ${image}
        regions:
        - id: c815c712-b125-4ae9-b3b6-efa2a1ed1605
          name: ${clouds.region_name}
        version: 1.0.0
    useOctavia: true
  regions:
  - name: ${clouds.region_name}
    zones:
    - name: nova
  type: openstack


