apiVersion: v1
kind: Secret
metadata:
  name: bootstrap-token-${bootstrap_token_id}   # last digits must be equal to token-id
  namespace: kube-system
type: bootstrap.kubernetes.io/token
stringData:
  token-id: "${bootstrap_token_id}"               # must be 6 characters
  token-secret: "${bootstrap_token_secret}" # 16 characters
  usage-bootstrap-authentication: "true"
  usage-bootstrap-signing: "true"
