---
apiVersion: v1
kind: Config
current-context: garden
contexts:
  - context:
      cluster: garden
      user: admin
    name: garden
clusters:
  - cluster:
      certificate-authority-data: L
      server: https://api.ing.gardener
    name: garden
users:
  - name: admin
    user:
      client-certificate-data: L
      client-key-data: L
